.cont{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.imgCont{
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  padding: 10px;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  gap: 15px;
}

.modalCont{
  position: relative;
}

.img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.effect {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(215, 221, 250, 0.24);
}
.overlayText{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.img img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Keeps aspect ratio */
}
.text {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 326px;
  height: 100%;
  max-height: 326px;
  font-weight: bold;
  display: flex;
  align-items: center; 
  justify-content: center; 
  box-sizing: border-box;
  flex-grow: 1;
  line-height: 1; 
  font-size: clamp(0.8rem, 2vw, 1.25rem);
  line-height: 1.1; 
  overflow-wrap: break-word; 
  overflow: hidden;
  overflow-wrap: break-word;
}


@media screen and (max-width: 768px) {
  .imgCont{
    grid-template-columns: repeat(1, 1fr);
  }
  .text{
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 375px) {
  .imgCont{
    grid-template-columns: repeat(1, 1fr);
  }

}

